<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>6741775676</string>
	<key>UIAppFonts</key>
	<array>
		<string>ACARISANS-SEMIBOLD.TTF</string>
		<string>ACARISANS-REGULAR.TTF</string>
		<string>ACARISANS-MEDIUM.TTF</string>
		<string>ACARISANS-LIGHT.TTF</string>
		<string>ACARISANS-EXTRALIGHT.TTF</string>
		<string>ACARISANS-BOLD.TTF</string>
		<string>ACARISANS-EXTRABOLD.TTF</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
